body {
  margin: 0;
}

// #live-link {
//   position: absolute;
//   top: 10px;
//   right: 10px;
//   z-index: 2;
// }

// div {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
//   width: 100vw;
// }

// #canvas {
//   position: absolute;
//   z-index: 1;
//   border-radius: 10px;
// }

#canvas {
  border-radius: 30px;
  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.2);
}

#play-game-button {
  background-color: purple;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  color: white;
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
}


// #background-canvas {
//   position: absolute;
//   z-index: 0;
//   height: 100vh;
//   width: 100vw;
// }
